body {
  margin-left: 3%;
  font-family: sans-serif;
}

#middlemarch li {
  list-style: lower-roman inside;
  margin-top: 5%;
  margin-left: 10%;
  color: red;
}

#middlemarch>:first-child {
  font-weight: bold;
  color: blue;
}

#middlemarch>:nth-child(2),
#middlemarch>:last-child {
  color: blue;
}

#middlemarch>:nth-child(5) {
  font-style: italic;
}

#taletwocities li {
  list-style: lower-alpha;
  margin-top: 2%;
  color: red;
}

#taletwocities>:nth-child(2) {
  font-weight: bold;
}

#taletwocities>:nth-child(4),
#taletwocities>:nth-child(5),
#taletwocities>:nth-child(6) {
  color: blue;
}

#taletwocities>:nth-child(5) {
  font-style: italic;
}
